#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-left: 2px;
    margin-top: -50px;
    background-color: #000000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1 {
  margin-top: 10px;
    margin-bottom: 20px;
    color: #ebeff7;
   font-size: 20px
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 4px 10px rgba(233, 233, 233, 0.5);
}
.input-box {
    position: relative;
}
.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fffcfc;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;
}
.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #adadad;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #f0f5f7;
}
button {
    background-color: #f2f2f2;
    color: #000816;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover:not(:disabled) {
    background-color: #dfd2d2;
    color: #000000;
    box-shadow: 0 4px 10px rgba(233, 233, 233, 0.5);
  border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}
.status-message {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.success {
    background-color: #95f498; 
}
.error {
    background-color: #f66a62; 
}
.warning {
    background-color: #ea9e2c;
}
.summary-results {
    margin-top: 40px;
    width: 100%;
    text-align: left;
}
.summary-results h2 {
    text-align: center;
    color: #f5f5f5;
    margin-bottom: 20px;
}
.summary-box {
    border: 1px solid #fcfcfc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
  font-size: 0.95em; 
    color: #e0e0e0;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(223, 223, 223, 0.3);
}
.summary-box h3 {
    margin-top: 0;
    border-bottom: 1px solid #f7f3f3;
    padding-bottom: 5px;
    color: #fff;
}
.summary-box p {
    font-size: 1.1em;
    line-height: 1.2;
    color: #e0e0e0;
}

